.signup_main{
    /* margin-top: 10%;    */
    margin-left: 10px;
    /* padding: 20px; */
    height: 100%;
   }
   .signup-button:hover{
       cursor: pointer;

   }
   /* .signup-button:disabled{
       cursor:not-allowed;
   } */